.header{
    height:44px;
    div{
        display:none;
        position: absolute;
        left:15px;
        bottom:10px;
        font-size:1.4rem;
        color: $whiteFont;
    }
    h1{
        // display:inline-block;
        text-align:center;
        margin-left: 0;

        line-height: 44px;
        font-size:2rem;
        i{
            margin-right: 6px;
        }
    }
}
.main{
    top:44px;
    overflow:hidden;
}

%mobile-pos{
    width:100%;
    left:0;
    -webkit-transition:0.3s  ease-in-out;
    transition:0.3s  ease-in-out;
}
.left{
    @extend %mobile-pos;
    // display:none;
}
.fa-trash-o {
    display: block;
    right:15px;
}
.mid{
    @extend %mobile-pos;
    // display:none;
}
.right{
    @extend %mobile-pos;
}
.title {
    height:44px;
    line-height: 46px;
}
.task-date{
    height:44px;
    top: 44px;
    line-height: 46px;
}
.manipulate {
    padding-right: 0;
}
.content {
    padding:5px 8px 0 15px;
    top:88px;
}
.content-with-button{
    bottom:40px;
}
.button-area{
    height: 40px;
    // line-height: 60px;
    position: absolute;
    right:20px;
    bottom:0;
    // padding:7px 15px;
    // background-color:blue;
    padding-bottom:5px;
    button {
        height:32px;
    }
}

// edit
.input-title {
    padding: 5px 10px;
    margin-top: 0;
    // width: 244px;
    // height:44px;
}
.input-date {
    // padding: 5px 10px;
}
.textarea-content {
    width: 98%;
    height: 100%;
}

/**
 * modal
 */
$modal-width:300px;
$modal-height:190px;
$modal-padding:5px;
.modal{
    width:$modal-width;
    height:$modal-height;
    padding:$modal-padding;
    margin-left: -$modal-width/2;
    margin-top: -$modal-height/2;
}
.modal-head {
    font-size: 1.8rem;
    height: 36px;
    line-height: 36px;
}
.modal-body {
    font-size: 1.4rem;
    line-height: 2.8;

    select, input {
        width: 160px;
        height: 28px;
        padding-left: 5px;
        // border: 1px solid #C6CAE0;
        // -webkit-box-sizing: border-box;
        // -moz-box-sizing: border-box;
        // box-sizing: border-box;
    }
}
/**
 * animation
 */
.page-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page-next-next {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0);
}
.page-pre {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page-pre-pre {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
}