/**
 * right
 */
.right {
    @extend %pos;
    top: 0;
    right: 0;
    bottom: 0;
    left: 500px;
    z-index: 6;
    background-color: #fff;
    font-size: 1.6rem;

    input {
        font-size: 1.6rem;
        border: 1px solid #AEAEAE;

        &:focus{
            border: 1px solid #404040;
        }
    }
}
.title {
    width: 100%;
    height: 55px;
    @extend %pos;
    line-height: 58px;
    background-color: #dadada;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
}
.todo-name {
    padding-left: 15px;
    float: left;
    font-size: 1.8rem;
    font-weight: bold;
}
.manipulate {
    font-size: 26px;
    padding-right: 20px;
    float: right;

    a {
        margin-right: 15px;
        cursor: pointer;
    }
}
.task-date {
    width: 100%;
    height: 55px;
    @extend %pos;
    top: 55px;
    line-height: 55px;
    background-color: #eee;
    padding-left: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 4;
}
.content {
    width: 100%;
    @extend %pos;
    top: 110px;
    overflow-y: hidden;
    // background: red;
    padding:15px 15px 0;

}
.content-with-button{
    bottom:50px;
}
.content-no-button{
    bottom:0;
}
.button-area{
    height: 50px;
    // line-height: 60px;
    position: absolute;
    right:20px;
    bottom:0;
    // padding:7px 15px;
    // background-color:blue;
    padding-bottom:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    button {
        
        height:34px;
        border: none;
        cursor: pointer;
        padding: 8px 20px;
        margin-left: 15px;
    }
}
.info {
    color: #B35690
}
.save {
    background-color: #95A0D8;
    color: #fff;
}
.cancel-save{
    background-color:#ddd;
    color:#333;
}

// edit
.input-title {
    padding: 7px 10px;
    margin-top: 10px;
    width: 244px;
}
.input-date {
    padding: 5px 10px;
}
.textarea-content {
    width: 98%;
    height: 96%;
    margin: 0; /* don't want to add to container size */
    border: 0; /* don't want to add to container size */
    font-size: 1.6rem;
    resize: none;
    line-height: 1.6;
    // background-color:red;
}
