/**
 * variables
 */
/**
 * reset
 */
div, body, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

h1, h2, h3 {
  font-weight: normal; }

html {
  font-size: 62.5%; }

/**
 * common
 */
body {
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif;
  -webkit-tap-highlight-color: transparent; }

button, select, input, textarea {
  font-family: "Microsoft YaHei", "SimHei", "STHeiti", sans-serif;
  outline: none; }

i {
  margin-right: 5px; }

textarea:disabled {
  color: #000;
  background: #fff;
  -webkit-text-fill-color: black;
  -webkit-opacity: 1; }

.left, .all-tasks, .cate, .list, .add, .mid, .status, .task-list, .right, .title, .task-date, .content, .cover {
  position: absolute;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * header
 */
/**
 * header
 */
.header {
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5D6684;
  /* 
   * shadow
   */
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .header div {
    display: none; }
  .header h1 {
    font-size: 2.4rem;
    color: #fff;
    line-height: 60px;
    margin-left: 15px; }
    .header h1 i {
      margin-right: 10px; }

/**
 * main
 */
/**
 * main
 */
.main {
  width: 100%;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 9; }

/**
 * left
 */
.left {
  width: 240px;
  top: 0;
  bottom: 0;
  background: #DADADA;
  font-size: 1.6rem;
  /**
   * shadow
   */
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.35);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.35);
  z-index: 8;
  line-height: 2; }
  .left .active {
    background-color: #eee; }

.all-tasks {
  top: 0;
  width: 100%;
  height: 37px;
  cursor: pointer;
  padding-left: 15px;
  line-height: 40px; }

.cate {
  top: 37px;
  padding-left: 15px; }

.list {
  width: 100%;
  top: 69px;
  bottom: 60px;
  overflow-y: auto; }
  .list h2, .list h3 {
    font-size: 1.6rem;
    padding-left: 15px;
    cursor: pointer;
    position: relative; }
    .list h2:hover, .list h3:hover {
      background-color: #eee; }
      .list h2:hover .fa-trash-o, .list h3:hover .fa-trash-o {
        display: block; }
  .list h3 {
    padding-left: 30px; }

.fa-trash-o {
  display: none;
  font-size: 1.8rem;
  position: absolute;
  right: 5px;
  top: 8px; }

.add {
  width: 100%;
  bottom: 0;
  height: 60px;
  font-size: 1.6rem;
  background-color: #CACACA;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease; }
  .add:hover {
    background-color: #C1C3DE;
    color: #343521; }

/**
 * mid
 */
.mid {
  left: 240px;
  width: 260px;
  top: 0;
  bottom: 0;
  background-color: #EEEEF0;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  z-index: 7; }

.status button:hover, .status .active {
  background-color: #A8AAC5;
  color: #fff; }

.status {
  width: 100%;
  height: 55px;
  top: 0;
  text-align: center;
  border-bottom: 1px dashed #A6A6A6; }
  .status button {
    width: 60px;
    height: 30px;
    margin: 13px 5px;
    background-color: #D8D8D8;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease; }
  .status .active {
    cursor: default; }

.task-list {
  width: 100%;
  top: 55px;
  bottom: 60px;
  line-height: 2;
  font-size: 1.4rem;
  overflow-y: auto; }
  .task-list div {
    line-height: 2.3;
    background-color: #dadada;
    padding-left: 10px; }
  .task-list li {
    padding-left: 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out; }
    .task-list li:hover {
      background-color: #FbFbFb; }
  .task-list .active {
    background-color: #FbFbFb; }

.task-done {
  color: #24692B; }

.add-task {
  background-color: #D8D8D8; }

/**
 * right
 */
.right {
  top: 0;
  right: 0;
  bottom: 0;
  left: 500px;
  z-index: 6;
  background-color: #fff;
  font-size: 1.6rem; }
  .right input {
    font-size: 1.6rem;
    border: 1px solid #AEAEAE; }
    .right input:focus {
      border: 1px solid #404040; }

.title {
  width: 100%;
  height: 55px;
  line-height: 58px;
  background-color: #dadada;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 5; }

.todo-name {
  padding-left: 15px;
  float: left;
  font-size: 1.8rem;
  font-weight: bold; }

.manipulate {
  font-size: 26px;
  padding-right: 20px;
  float: right; }
  .manipulate a {
    margin-right: 15px;
    cursor: pointer; }

.task-date {
  width: 100%;
  height: 55px;
  top: 55px;
  line-height: 55px;
  background-color: #eee;
  padding-left: 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 4; }

.content {
  width: 100%;
  top: 110px;
  overflow-y: hidden;
  padding: 15px 15px 0; }

.content-with-button {
  bottom: 50px; }

.content-no-button {
  bottom: 0; }

.button-area {
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 0;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .button-area button {
    height: 34px;
    border: none;
    cursor: pointer;
    padding: 8px 20px;
    margin-left: 15px; }

.info {
  color: #B35690; }

.save {
  background-color: #95A0D8;
  color: #fff; }

.cancel-save {
  background-color: #ddd;
  color: #333; }

.input-title {
  padding: 7px 10px;
  margin-top: 10px;
  width: 244px; }

.input-date {
  padding: 5px 10px; }

.textarea-content {
  width: 98%;
  height: 96%;
  margin: 0;
  /* don't want to add to container size */
  border: 0;
  /* don't want to add to container size */
  font-size: 1.6rem;
  resize: none;
  line-height: 1.6; }

/**
 * modal
 */
/**
 * modal
 */
.cover {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99; }

.modal {
  width: 335px;
  height: 195px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  background-color: #eee;
  margin-left: -167.5px;
  margin-top: -97.5px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); }

.modal-head {
  font-size: 2.2rem;
  text-align: center;
  height: 40px;
  line-height: 40px; }

.modal-body {
  margin-top: 6px;
  padding-top: 10px;
  padding-left: 30px;
  font-size: 1.6rem;
  line-height: 2.2;
  border-top: 1px dashed #C6CAE0; }
  .modal-body select, .modal-body input {
    width: 160px;
    height: 24px;
    padding-left: 5px;
    border: 1px solid #C6CAE0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.modal-foot {
  text-align: right;
  padding-top: 12px;
  padding-right: 20px; }
  .modal-foot button {
    background-color: #D8D8D8;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    margin-left: 10px;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease; }
    .modal-foot button:hover {
      background-color: #A8AAC5;
      color: #fff; }

/**
 * mobile fit
 */
@media screen and (max-width: 770px) {
  .header {
    height: 44px; }
    .header div {
      display: none;
      position: absolute;
      left: 15px;
      bottom: 10px;
      font-size: 1.4rem;
      color: #fff; }
    .header h1 {
      text-align: center;
      margin-left: 0;
      line-height: 44px;
      font-size: 2rem; }
      .header h1 i {
        margin-right: 6px; }

  .main {
    top: 44px;
    overflow: hidden; }

  .left, .mid, .right {
    width: 100%;
    left: 0;
    -webkit-transition: 0.3s  ease-in-out;
    transition: 0.3s  ease-in-out; }

  .fa-trash-o {
    display: block;
    right: 15px; }

  .title {
    height: 44px;
    line-height: 46px; }

  .task-date {
    height: 44px;
    top: 44px;
    line-height: 46px; }

  .manipulate {
    padding-right: 0; }

  .content {
    padding: 5px 8px 0 15px;
    top: 88px; }

  .content-with-button {
    bottom: 40px; }

  .button-area {
    height: 40px;
    position: absolute;
    right: 20px;
    bottom: 0;
    padding-bottom: 5px; }
    .button-area button {
      height: 32px; }

  .input-title {
    padding: 5px 10px;
    margin-top: 0; }

  .textarea-content {
    width: 98%;
    height: 100%; }

  /**
   * modal
   */
  .modal {
    width: 300px;
    height: 190px;
    padding: 5px;
    margin-left: -150px;
    margin-top: -95px; }

  .modal-head {
    font-size: 1.8rem;
    height: 36px;
    line-height: 36px; }

  .modal-body {
    font-size: 1.4rem;
    line-height: 2.8; }
    .modal-body select, .modal-body input {
      width: 160px;
      height: 28px;
      padding-left: 5px; }

  /**
   * animation
   */
  .page-active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

  .page-next {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }

  .page-next-next {
    -webkit-transform: translate3d(200%, 0, 0);
    transform: translate3d(200%, 0, 0); }

  .page-pre {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }

  .page-pre-pre {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0); } }
